[Desktop Entry]
Type=Application
Version=1.1.0
Name=Star Seeker
Comment=Dark fantasy puzzle
TryExec=starseeker
Exec=starseeker
Icon=starseeker
Terminal=false
Categories=Game

